
[Project]
Name = Bumsti

thickness = 1.1
x offset = 5.3
y offset = 5.4
config path = config

y text spacing = 1

# https://stackoverflow.com/questions/335695/lists-in-configparser
# https://stackoverflow.com/questions/6759016/getting-a-list-from-a-config-file-with-configparser

# all sections in a config File
# https://www.adamsmith.haus/python/examples/4390/configparser-get-all-sections-in-a-configuration-file

# TODO: Absichern gegen falschen Pfad und Fehler im JSON bei Items
designs = [
    ["X0R0"],
    ["config/CardSheet", "CARD SHEET"],
    ["TEST3"],
    ["TEST4"],
    ["C:/Users/Wolfgang/PycharmProjects/InsertMaker/config/CardSheet", "TEST1"],
    ["X0"],
    ["Y0"],
    ["X0Y0"],
    ["Y0R0"],
    ["X0Y0R0"]
    ]




[TEST3]
title = ödafkj öldskjföasdkjf ölaskdj föalsd kj
design = CardSheet
filename = Cards-TEST3
Project = Verdant
_x offset = 5
_y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 1
y separation = 1

rows = 2
columns = 1

corner radius = 3

x measure = 89
y measure = 55

[TEST4]
design = CardSheet
filename = Cards-TEST4
Project = Verdant
x offset = 5
y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 1
y separation = 1

rows = 2
columns = 1

corner radius = 0

x measure = 89
y measure = 55


[X0]
design = CardSheet
filename = Cards-X0
Project = Verdant
x offset = 5
y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 0
y separation = 4

rows = 4
columns = 4

corner radius = 1

x measure = 20
y measure = 20

[Y0]
design = CardSheet
filename = Cards-Y0
Project = Verdant
x offset = 5
y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 4
y separation = 0

rows = 4
columns = 4

corner radius = 1

x measure = 20
y measure = 20

[X0Y0]
design = CardSheet
filename = Cards-X0Y0
Project = Verdant
x offset = 5
y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 0
y separation = 0

rows = 4
columns = 4

corner radius = 1

x measure = 20
y measure = 20


[X0R0]
design = CardSheet
filename = Cards-X0R0
Project = Verdant
x offset = 5
y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 0
y separation = 4

rows = 4
columns = 4

corner radius = 0

x measure = 20
y measure = 20

[Y0R0]
design = CardSheet
filename = Cards-Y0R0
Project = Verdant
x offset = 5
y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 4
y separation = 0

rows = 4
columns = 4

corner radius = 0

x measure = 20
y measure = 20

[X0Y0R0]
design = CardSheet
filename = Cards-X0Y0R0
Project = Verdant
x offset = 5
y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 0
y separation = 0

rows = 4
columns = 4

corner radius = 0

x measure = 20
y measure = 20
