
[Project]
Name = Bumsti

thickness = 1.5
x offset = 5
y offset = 5
config path = config
config file = Cardbox

# https://stackoverflow.com/questions/335695/lists-in-configparser
# https://stackoverflow.com/questions/6759016/getting-a-list-from-a-config-file-with-configparser

# all sections in a config File
# https://www.adamsmith.haus/python/examples/4390/configparser-get-all-sections-in-a-configuration-file
Items = [CARD SHEET, TEST1]

[Foo]

[Bar]

