[CARDBOX]
style = Cardbox
filename = CardBox-92-62-17
Project = Anno 1800
x offset = 0
y offset = 0

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single with hole
# funnel = single with holes
# funnel = dual with hole
# funnel = dual with holes

length = 92
width = 62
height = 21.5
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10
