[CARD SHEET]
x offset = 10
y offset = 10
y text spacing = 7

style = CardSheet
filename = Cards-Verdant
Project = Verdant

# Separation of Lines in mm in the SVG file
x separation = 3
y separation = 5

rows = 4
columns = 2

corner radius = 3

x measure = 89
y measure = 55

[TEST1]
style = CardSheet
filename = Cards-TEST1
Project = Verdant
x offset = 5
y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 1
y separation = 1

rows = 2
columns = 1

corner radius = 3

x measure = 89
y measure = 55
