[CARDBOX]
filename = CardBox
Project = Anno 1800
x offset = 1
y offset = 2

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 20
funnel bottom width = 10
funnel neck height = 10
center nose width = 5
# BOTTOMHOLE_RADIUS = 10

length = 90
width = 60
height = 15
thickness = 1.5

# enforce_small_design = False
# enforce_large_design = False
