[General]
DEFAULT_FILENAME = "BoxMaker"

# Offset from the left
Design.X_OFFSET = Design.mm_to_thoudpi(Design.X_OFFSET)

# Offset from the top
Design.Y_OFFSET = Design.mm_to_thoudpi(Design.Y_OFFSET)

# Separation of Lines in mm in the SVG file
Design.Y_LINE_SEPARATION = Design.mm_to_thoudpi(Design.Y_LINE_SEPARATION)
