
[Project]
Name = CardBox Test Configurations

# thickness = 1.1
# x offset = 5.3
# y offset = 5.4
config path = config

# y text spacing = 1

# https://stackoverflow.com/questions/335695/lists-in-configparser
# https://stackoverflow.com/questions/6759016/getting-a-list-from-a-config-file-with-configparser

# all sections in a config File
# https://www.adamsmith.haus/python/examples/4390/configparser-get-all-sections-in-a-configuration-file

# TODO: Absichern gegen falschen Pfad und Fehler im JSON bei Items
items = [
    ["CARDBOX-BIG-FS-TN"],
    ["CARDBOX-BIG-FS-TS"],
    ["CARDBOX-BIG-FS-TD"],
    ["CARDBOX-BIG-FD-TN"],
    ["CARDBOX-BIG-FD-TS"],
    ["CARDBOX-BIG-FD-TD"],
    ["CARDBOX-BIG-FS-TN-ES"],
    ["CARDBOX-BIG-FS-TS-ES"],
    ["CARDBOX-BIG-FS-TD-ES"],
    ["CARDBOX-BIG-FD-TN-ES"],
    ["CARDBOX-BIG-FD-TS-ES"],
    ["CARDBOX-BIG-FD-TD-ES"],
    ["CARDBOX-SMALL-FS-TN"],
    ["CARDBOX-SMALL-FS-TS"],
    ["CARDBOX-SMALL-FS-TD"],
    ["CARDBOX-SMALL-FD-TN"],
    ["CARDBOX-SMALL-FD-TS"],
    ["CARDBOX-SMALL-FD-TD"],
    ["CARDBOX-SMALL-FS-TN-EL"],
    ["CARDBOX-SMALL-FS-TS-EL"],
    ["CARDBOX-SMALL-FS-TD-EL"],
    ["CARDBOX-SMALL-FD-TN-EL"],
    ["CARDBOX-SMALL-FD-TS-EL"],
    ["CARDBOX-SMALL-FD-TD-EL"]
    ]





[CARDBOX-BIG-FS-TN]
design = CardBox
filename = CardBox-Big-FS-TN
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = none

length = 92
width = 62
height = 21.5
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


[CARDBOX-BIG-FS-TS]
design = CardBox
filename = CardBox-Big-FS-TS
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = single

length = 92
width = 62
height = 21.5
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-BIG-FS-TD]
design = CardBox
filename = CardBox-Big-FS-TD
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = double

length = 92
width = 62
height = 21.5
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-BIG-FD-TN]
design = CardBox
filename = CardBox-Big-FD-TN
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = none

length = 92
width = 62
height = 21.5
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


[CARDBOX-BIG-FD-TS]
design = CardBox
filename = CardBox-Big-FD-TS
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = single

length = 92
width = 62
height = 21.5
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-BIG-FD-TD]
design = CardBox
filename = CardBox-Big-FD-TD
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = double

length = 92
width = 62
height = 21.5
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-BIG-FS-TN-ES]
design = CardBox
filename = CardBox-Big-FS-TN-ES
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = none

length = 92
width = 62
height = 21.5
thickness = 1.5

enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


[CARDBOX-BIG-FS-TS-ES]
design = CardBox
filename = CardBox-Big-FS-TS-ES
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = single

length = 92
width = 62
height = 21.5
thickness = 1.5

enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-BIG-FS-TD-ES]
design = CardBox
filename = CardBox-Big-FS-TD-ES
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = double

length = 92
width = 62
height = 21.5
thickness = 1.5

enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-BIG-FD-TN-ES]
design = CardBox
filename = CardBox-Big-FD-TN-ES
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = none

length = 92
width = 62
height = 21.5
thickness = 1.5

enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


[CARDBOX-BIG-FD-TS-ES]
design = CardBox
filename = CardBox-Big-FD-TS-ES
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = single

length = 92
width = 62
height = 21.5
thickness = 1.5

enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-BIG-FD-TD-ES]
design = CardBox
filename = CardBox-Big-FD-TD-ES
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = double

length = 92
width = 62
height = 21.5
thickness = 1.5

enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


































[CARDBOX-SMALL-FS-TN]
design = CardBox
filename = CardBox-Small-FS-TN
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = none

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


[CARDBOX-SMALL-FS-TS]
design = CardBox
filename = CardBox-Small-FS-TS
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = single

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-SMALL-FS-TD]
design = CardBox
filename = CardBox-Small-FS-TD
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = double

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-SMALL-FD-TN]
design = CardBox
filename = CardBox-Small-FD-TN
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = none

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


[CARDBOX-SMALL-FD-TS]
design = CardBox
filename = CardBox-Small-FD-TS
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = single

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-SMALL-FD-TD]
design = CardBox
filename = CardBox-Small-FD-TD
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = double

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-SMALL-FS-TN-EL]
design = CardBox
filename = CardBox-Small-FS-TN-EL
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = none

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


[CARDBOX-SMALL-FS-TS-EL]
design = CardBox
filename = CardBox-Small-FS-TS-EL
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = single

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-SMALL-FS-TD-EL]
design = CardBox
filename = CardBox-Small-FS-TD-EL
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = single
thumbhole = double

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-SMALL-FD-TN-EL]
design = CardBox
filename = CardBox-Small-FD-TN-EL
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = none

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


[CARDBOX-SMALL-FD-TS-EL]
design = CardBox
filename = CardBox-Small-FD-TS-EL
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = single

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false

[CARDBOX-SMALL-FD-TD-EL]
design = CardBox
filename = CardBox-Small-FD-TD-EL
Project = Anno 1800
x offset = 11
y offset = 13

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10
funnel top width = 35
funnel bottom width = 20
funnel neck height = 10
center nose width = 5

funnel = double
thumbhole = double

length = 92
width = 62
height = 19.0
thickness = 1.5

# enforce design = small
enforce design = large
# BOTTOMHOLE_RADIUS = 10

separated = false


