[CARD SHEET]
x offset = 0
# y offset = 0
y text spacing = 7

design = CardSheet
filename = Cards-Verdant
project name = Verdant
title = Verdant Karten

# Separation of Lines in mm in the SVG file
x separation = 5
y separation = 5

rows = 4
columns = 2

# corner radius = 6

x measure = 86
y measure = 61.5

[TEST1]
design = CardSheet
filename = Cards-TEST1
Project = Verdant
x offset = 50
y offset = 5

# Separation of Lines in mm in the SVG file
x separation = 1
y separation = 1

rows = 2
columns = 1

corner radius = 3

x measure = 89
y measure = 55
