[Test]
design = FreePath
project name = Cities Skylines
filename = CS token Test
x offset = 0
y offset = 0
unit = mm
max x = 95
max y = 285
_template = Freepath.svg
_template group = FreepathGroup.svg
title = Neom Box Fill Insert
stroke color = #d41a5a
stroke width = 2

paths = [
        # R 0,0 W 129.5 H 116
        R 0,0 W 41 H 118.5
        R 2,2 W 37 H 48.5
        R 2,52.5 W 37 H 37
        R 2,91.5 W 37 H 25
        ]
