[CORNER]
style = corner
filename = Corner
Project = Anno 1800
x offset = 0
y offset = 0

# Separation of Lines in mm in the SVG file
vertical separation = 6

style = rectangle
# style = rectangular
# style = triangle
# style = rectangle full
# style = triangle full

# floor = True
# floor = False

# no corner radius then normal rectangle
# corner radius = 2
length = 92
width = 62
height = 21.5
thickness = 1.5

# enforce design = small
# enforce design = large
