[ITEMBOX]
design = ItemBox
filename = ItemBox-92-62-18
project name = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = double
thumbhole radius = 10

length = 92
width = 62
height = 30
thickness = 1.5

enforce design = none

partitions config = ITEMBOXPARTITION

[ITEMBOXPARTITION]
design = ItemBoxPartition
project name = Anno 1800 FOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
tolerance = 0.2
height reduction = 2
thumbhole style = none
longhole radius = 10
longhole rest height = 12
mounting hole length = 10

partitions =
                PARTITION-2
                config/ItemBox#PARTITION-1
                PARTITION-3

[PARTITION-1]
project name = ölfkjösadfkösadkjföalsdjfköalsdkjf
filename = foo1
height reduction = 2
thumbhole style = thumbhole
thumbhole radius = 12

[PARTITION-2]
separation distance = 20
filename = foo2
height reduction = 1
tolerance = 0.4

[PARTITION-3]
separation distance = 30
filename = foo3
thumbhole style = longhole
longhole radius = 8
longhole rest height = 5
