
[Project]
Name = ItemBox Test Configurations

# thickness = 1.1
x offset = 5.3
# y offset = 5.4
config path = config

# y text spacing = 1

# https://stackoverflow.com/questions/335695/lists-in-configparser
# https://stackoverflow.com/questions/6759016/getting-a-list-from-a-config-file-with-configparser

# all sections in a config File
# https://www.adamsmith.haus/python/examples/4390/configparser-get-all-sections-in-a-configuration-file

designs =
    ITEMBOX-BIG-TN
    config/ItemBox-Test.config#ITEMBOX-BIG-TS
    ITEMBOX-BIG-TD
    ITEMBOX-BIG-TN-ES
    ITEMBOX-BIG-TS-ES
    ITEMBOX-BIG-TD-ES
    ITEMBOX-SMALL-TN
    ITEMBOX-SMALL-TS
    ITEMBOX-SMALL-TD
    ITEMBOX-SMALL-TN-EL
    ITEMBOX-SMALL-TS-EL
    ITEMBOX-SMALL-TD-EL





[ITEMBOX-BIG-TN]
design = ItemBox
filename = ItemBox-Big-TN
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = none
thumbhole radius = 10

length = 92
width = 62
height = 30
thickness = 1.5

enforce design = none

[ITEMBOX-BIG-TS]
design = ItemBox
filename = ItemBox-Big-TS
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = single
thumbhole radius = 10

length = 92
width = 62
height = 30
thickness = 1.5

enforce design = none

[ITEMBOX-BIG-TD]
design = ItemBox
filename = ItemBox-Big-TD
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = double
thumbhole radius = 10

length = 92
width = 62
height = 30
thickness = 1.5

enforce design = none

[ITEMBOX-BIG-TN-ES]
design = ItemBox
filename = ItemBox-Big-TN-ES
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = none
thumbhole radius = 10

length = 92
width = 62
height = 30
thickness = 1.5

enforce design = small

[ITEMBOX-BIG-TS-ES]
design = ItemBox
filename = ItemBox-Big-TS-ES
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = single
thumbhole radius = 10

length = 92
width = 62
height = 30
thickness = 1.5

enforce design = small

[ITEMBOX-BIG-TD-ES]
design = ItemBox
filename = ItemBox-Big-TD-ES
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = double
thumbhole radius = 10

length = 92
width = 62
height = 30
thickness = 1.5

enforce design = small








[ITEMBOX-SMALL-TN]
design = ItemBox
filename = ItemBox-Small-TN
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = none
thumbhole radius = 10

length = 92
width = 62
height = 18
thickness = 1.5

enforce design = none

[ITEMBOX-SMALL-TS]
design = ItemBox
filename = ItemBox-Small-TS
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = single
thumbhole radius = 10

length = 92
width = 62
height = 18
thickness = 1.5

enforce design = none

[ITEMBOX-SMALL-TD]
design = ItemBox
filename = ItemBox-Small-TD
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = double
thumbhole radius = 10

length = 92
width = 62
height = 18
thickness = 1.5

enforce design = none

[ITEMBOX-SMALL-TN-EL]
design = ItemBox
filename = ItemBox-Small-TN-EL
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = none
thumbhole radius = 10

length = 92
width = 62
height = 18
thickness = 1.5

enforce design = large

[ITEMBOX-SMALL-TS-EL]
design = ItemBox
filename = ItemBox-Small-TS-EL
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = single
thumbhole radius = 10

length = 92
width = 62
height = 18
thickness = 1.5

enforce design = large

[ITEMBOX-SMALL-TD-EL]
design = ItemBox
filename = ItemBox-Small-TD-EL
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = double
thumbhole radius = 10

length = 92
width = 62
height = 18
thickness = 1.5

enforce design = large
