[ITEMBOX]
filename = ItemBox-92-62-18
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 0
y offset = 0

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

# thumbhole = dual
# thumbhole = double
# thumbhole radius = 12

length = 92
width = 62
height = 18
thickness = 1.5

# enforce design = small
# enforce design = large
# BOTTOMHOLE_RADIUS = 10
