[ITEMBOXPARTITION]
style = ItemBoxPartition
filename = ItemBoxPartition-92-62-18
project = Anno 1800
title = foobarweqr  wqer qwer
x offset = 10
y offset = 20

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = double
thumbhole radius = 10

length = 92
width = 62
height = 30
thickness = 1.5

part tolerance = 0.2
height reduction = 2
thumbhole style = none
longhole radius = 10
longhole rest height = 12
mounting hole length = 10

partitions = [["PARTITION-1], ["PARTITION-2"], ["PARTITION-3"]]

[PARTITION-1]
separation width = 10
partition height reduction = 0
partition thumbhole = 12

[PARTITION-2]
separation width = 20
partition height reduction = 1

[PARTITION-3]
separation width = 30