[NeomTileBox]
design = ItemBox
filename = neom-46x46x92
project name = Neom
title = Neom Tile Box Aera I, II, III
x offset = 10
y offset = 10

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = double
thumbhole radius = 10

length = 92
width = 46
height = 46
thickness = 1.5

enforce design = none

partitions config = ITEMBOXPARTITION

[ITEMBOXPARTITION]
design = ItemBoxPartition
tolerance = 0.2
height reduction = 0
thumbhole style = longhole
longhole radius = 12
longhole rest height = 25
mounting hole length = 10

partitions =    PARTITION-1
                PARTITION-2

[PARTITION-1]
filename = Neom Tile Separator-1
separation distance = 18

[PARTITION-2]
filename = Neom Tile Separator-2
separation distance = 18
