[NeomCoinBox]
design = ItemBox
filename = neom-coinbox
project name = Neom
title = Neom Coin Box
x offset = 10
y offset = 10

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = none

length = 92
width = 46
height = 22.25
thickness = 1.5

enforce design = none

partitions config = ITEMBOXPARTITION

[ITEMBOXPARTITION]
design = ItemBoxPartition
tolerance = 0.2
height reduction = 0
thumbhole style = none
mounting hole length = 10

partitions =    PARTITION-1

[PARTITION-1]
filename = Neom Coin Box Seperator
separation distance = 45.25

