[NeomTokenBox]
design = ItemBox
filename = neom-Token-8x46x92
project name = Neom
title = Neom Token Box 5x
x offset = 10
y offset = 10

# Separation of Lines in mm in the SVG file
vertical separation = 6

slot width = 10
corner gap = 10

thumbhole = none

length = 92
width = 46
height = 8
thickness = 1.5

enforce design = none

